.kata {
  border-bottom: 1px solid #E7E7E7;

  .row {
    padding: 5px;

    &:hover {
      background-color: #C9CEDD;
    }
  }

  a:hover {
    text-decoration: none;
  }
}

button {
  margin-left: 5px;
}

pagination-controls /deep/ .ngx-pagination {
  padding-left: 0;
  text-align: center;
}
