<div class="kata">
  <div *ngIf="message" class="alert alert-success alert-dismissable mx-auto">
    <button class="close" (click)="clearMessage()" aria-label="close">&times;</button>
    <strong>Success:</strong> {{message}}.
  </div>
  <div *ngIf="error" class="alert alert-danger alert-dismissable mx-auto">
      <button class="close" (click)="clearError()" aria-label="close">&times;</button>
      <strong>Oops:</strong> {{error}}.
    </div>
  <div class="container-fluid" *ngIf="!isEditing">
    <div class="row">
      <h3>{{kata.name}}</h3>
      <button id="editButton" *ngIf="canEdit" class="btn btn-outline-primary" (click)="edit()">
        <i class="fa fa-edit"></i>
      </button>
      <div id="added-by">
        <small>added by {{kata.addedBy.name}}</small>
        <small>on {{kata.created_at | date : 'MMM dd yyyy'}}</small>
      </div>
    </div>
    <div class="row">
      <markdown ngPreserveWhitespaces [data]="kata.description"></markdown>
    </div>
    <div class="row">
      <button id="deleteButton" *ngIf="canEdit" class="btn btn-danger float-right" (click)="delete()">Delete Kata</button>
    </div>
  </div>
  <form (ngSubmit)="updateKata()" #kataForm="ngForm" *ngIf="isEditing">
    <div class="form-group">
      <label for="kataName">Kata Name</label>
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        A name for your kata is required
      </div>
      <input type="text"
        id="kataName"
        class="form-control"
        required
        [(ngModel)]="kata.name" name="name"
        #name="ngModel"
        placeholder="A descriptive name for the kata" />
    </div>
    <div class="form-group">
      <label for="kataDescription">Description</label>
      <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
        You need to define what your kata is, what are we suppose to do?
      </div>

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item active">
          <a class="nav-link"
              id="text-tab"
              data-toggle="tab"
              role="tab"
              aria-controls="text"
              aria-selected="true"
              href="#text">Text</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
              id="preview-tab"
              data-toggle="tab"
              role="tab"
              aria-controls="preview"
              aria-selected="false"
              href="#preview">Preview</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade show active" id="text" role="tabpanel" aria-labelledby="text-tab">
          <textarea class="form-control"
            id="kataDescription"
            required
            [(ngModel)]="kata.description" name="description"
            #description="ngModel"
            placeholder="Here describe the kata in detail"></textarea>
        </div>
        <div class="tab-pane fade" id="preview" role="tabpanel" aria-labelledby="preview-tab">
          <markdown ngPreserveWhitespaces [data]="kata.description"></markdown>
        </div>
      </div>
      <small class="form-text text-muted">Markdown is supported</small>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!kataForm.form.valid">Submit</button>
    <button type="button" class="btn btn-danger" (click)="cancelEdit()">Cancel</button>
  </form>
</div>
