.navbar-brand {
  > a {
    color: #FFFFFF;
  }

  > a:hover {
    text-decoration: none;
  }
}

#header {
  border-radius: 0px;
  background-color: #242729;
}

.navbar-text {
  color: #FFFFFF;
  margin-top: 0;
}

.overlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease 0s, visibility 0.4s ease 0s;
}

.nav-icon {
  display: none;
  margin-right: 10px;
}

@import "~bootstrap/scss/bootstrap-grid";
@include media-breakpoint-down(sm) {
  #navigation-menu {
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 320px;
    min-height: 100vh;
    overflow-y: auto;
    transition: margin-left 0.4s ease 0s;
    background: #343a40;
    display: block;

    &.collapse:not(.show) {
      margin-left: -320px;
    }

    .nav-icon {
      display: inline;
    }
  }

  .overlay.show {
    opacity: 1;
    visibility: visible;
  }

  #navigation-menu-close {
    position: absolute;
    top: 0px;
    right: 10px;
  }
}
