/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/css/font-awesome.css";
@import '~ngx-ui-switch/ui-switch.component.scss';

html {
  position: relative;
  min-height: 100%;
  min-width: 320px;
}
