#header {
  border-radius: 0px;
  background-color: #242729;
}

.navbar-text {
  color: #FFFFFF;
  padding-top: 0px;
}

#bodyContainer {
  margin-bottom: 80px;
  margin-top: 110px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  background-color: #242729;
}

.footer > p {
  color: #9fa6ad;
}

/* Form */
section > div {
  max-width: 600px;
}

section form > fieldset {
  padding-bottom: 55px;
}
